# API Services
VITE_API_URL=http://localhost/api/lootlog
VITE_SEARCH_API_URL=http://localhost/api/search
VITE_AUTH_SERVICE_URL=http://localhost/api/auth
VITE_GATEWAY_URL=http://localhost
VITE_BATTLELOG_API_URL=http://localhost/api/battlelog
VITE_ACTIVITY_API_URL=http://localhost/api/activity

# Discord Configuration
VITE_DISCORD_CLIENT_ID=1337108729753112697
VITE_DISCORD_BOT_PERMISSIONS=268553216

# Public URLs
VITE_ADDON_INSTALL_URL=install_url_here
VITE_BATTLELOG_PUBLIC_URL=http://localhost/battlelog-client

# WebSocket Gateway
VITE_GATEWAY_SOCKET_PATH=/gateway/ws
