APP_DOMAIN=lootlog.example.com
APP_DOMAIN_REGEX=lootlog\\.example\\.com
LETSENCRYPT_EMAIL=admin@example.com
COMPOSE_PROFILES=minio
RELEASE_VERSION=latest

VITE_API_URL=https://lootlog.example.com/api/lootlog
VITE_SEARCH_API_URL=https://lootlog.example.com/api/search
VITE_AUTH_SERVICE_URL=https://lootlog.example.com/api/auth
VITE_GATEWAY_URL=https://lootlog.example.com
VITE_GATEWAY_SOCKET_PATH=
VITE_BATTLELOG_API_URL=https://lootlog.example.com/api/battlelog
VITE_ACTIVITY_API_URL=https://lootlog.example.com/api/activity
VITE_ADDON_INSTALL_URL=https://lootlog.example.com/addon/@lootlog/entrypoint.user.js
VITE_BATTLELOG_PUBLIC_URL=https://lootlog.example.com
VITE_DISCORD_CLIENT_ID=discord_client_id_here
VITE_DISCORD_BOT_PERMISSIONS=268435456
VITE_LOOTLOG_APP_URL=https://lootlog.example.com

NEXT_PUBLIC_AUTH_SERVICE_URL=https://lootlog.example.com/api/auth
NEXT_PUBLIC_ADDON_URL=https://lootlog.example.com/addon/@lootlog/entrypoint.user.js

GAME_CLIENT_URL=https://lootlog.example.com/addon/@lootlog/game-client.user.js
