# API Services
VITE_API_URL=http://localhost/api/lootlog
VITE_GATEWAY_URL=http://localhost
VITE_AUTH_SERVICE_URL=http://localhost/api/auth
VITE_BATTLELOG_API_URL=http://localhost/api/battlelog

VITE_LOOTLOG_APP_URL=http://localhost

# WebSocket Gateway
VITE_GATEWAY_SOCKET_PATH=/gateway
