# Service Configuration
PORT=4001
ENV=local
SERVICE_NAME=auth

# CORS and Cookies
TRUSTED_ORIGINS=http://localhost,https://*margonem.pl,https://*margonem.com
COOKIE_DOMAIN=localhost
COOKIE_PREFIX=local
ADMIN_ACCOUNT_IDS=1,2,3

# Application URL
APP_URL=http://localhost/api/auth

# PostgreSQL Database
POSTGRESQL_PORT=5432
POSTGRESQL_HOST=localhost
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=password
POSTGRESQL_DATABASE=users

# Discord OAuth
DISCORD_CLIENT_SECRET=discord_client_secret
DISCORD_CLIENT_ID=discord_client_id

# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_NODE_RESOURCE_DETECTORS=env,host,os,process
OTEL_TRACES_EXPORTER=otlp
SERVICE_NAMESPACE=local
