# Service Configuration
PORT=4028
ENV=local
SERVICE_NAME=notifications

# PostgreSQL Database
NOTIFICATIONS_POSTGRESQL_CONNECTION_URI=postgresql://user:password@localhost:5436/notifications

# RabbitMQ Message Queue
RABBITMQ_URI=amqp://rabbitmq_user:rabbitmq_password@localhost:5672

# Internal Services
API_SERVICE_URL=http://localhost:4003
DISCORD_BOT_SERVICE_URL=http://localhost:4008

# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_NODE_RESOURCE_DETECTORS=env,host,os,process
OTEL_TRACES_EXPORTER=otlp
SERVICE_NAMESPACE=local
