# Service Configuration
PORT=4002
ENV=local
SERVICE_NAME=search

# Meilisearch
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_API_KEY=meilisearch_master_key

# RabbitMQ Message Queue
RABBITMQ_URI=amqp://rabbitmq_user:rabbitmq_password@localhost:5672

# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_NODE_RESOURCE_DETECTORS=env,host,os,process
OTEL_TRACES_EXPORTER=otlp
SERVICE_NAMESPACE=local

# Axiom Logging
AXIOM_TOKEN=
AXIOM_DATASET=
