# Service Configuration
ENV=local
PORT=4008

# Discord Bot
DISCORD_BOT_TOKEN=xxx
DISCORD_DEVELOPMENT_GUILD_ID=xxx

# RabbitMQ Message Queue
RABBITMQ_URI=amqp://user:password@localhost:5672

# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_NODE_RESOURCE_DETECTORS=env,host,os,process
OTEL_TRACES_EXPORTER=otlp
SERVICE_NAMESPACE=local
