PORT=4003
ENV=local

POSTGRESQL_CONNECTION_URI=postgresql://user:password@localhost:5433/lootlog

AXIOM_TOKEN=axiom_token_here
AXIOM_DATASET=axiom_dataset_here

OPTIMIZE_API_KEY=prisma_optimize_api_key_here

RABBITMQ_URI=amqp://rabbitmq_user:rabbitmq_password@localhost:5672